<script>
function myFunction(x) {
x.classList.toggle("change");
document.body.classList.toggle("noscroll");
document.getElementById("hidden-menu-items").classList.toggle("slider-open");
 }
</script>
<div class="top-bar-first">
  {% if page.logo %}
     <div class="site-branding">
      {{ page.logo }}
     </div>
   {% endif %}
  {% if page.menu %}
      <div class="main-menu-button" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
  {% endif %}
</div>
{% if page.menu %}
<div id="hidden-menu-items" class="slider-close">
   {{ page.menu}}
</div>
{% endif %}





<div class="row">
{% if page.breadcrumb %}
   {{ page.breadcrumb}}
{% endif %}
</div>

<div class="row">
<div class="col-2">
  <div class="left-bar">
  {{ page.left }}
</div>
</div>

<div class="col-8">
  <div class="post-content">
  {{ page.content }}
  </div>
</div>


<div class="col-2">
  <div class="right-bar">
  {{ page.right }}
  </div>
</div>
</div>

<div class="row footer-first">
  <div class="col-1">
  {{ page.FirstFooterFirst }}
  </div>
  <div class="col-10">
    <div class="backbox">
  {{ page.FirstFooterSecond }}
    </div>
  </div>
  <div class="col-1">
  {{ page.FirstFooterThird }}
  </div>
</div>

<div class="row footer-second">
  <div class="col-3">
  {{ page.SecondFooterFirst }}
  </div>
  <div class="col-3">
  {{ page.SecondFooterSecond }}
  </div>
  <div class="col-3">
  {{ page.SecondFooterThird }}
  </div>
  <div class="col-3">
  {{ page.SecondFooterFourth }}
  </div>
</div>
